:root {
    --background-1: #3C4245;
    --background-2: #1abc9c;
    --background-3: #DFCDC3;
    --background-4: #bdc3c7;
    --background-5: #2c3e50;
    --section-1: #719192;
    --section-2: #5F6769;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-2);
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    /*  */
    height: 100%;
}

.side-content {
    background-color: var(--background-4);
    position: sticky;
    z-index: 10;
    top: 0;
    /* width: 100%; */
    height: 3vh;
    border-radius: 0 0 3rem 3rem;
    padding: 2rem;
    margin: 0 2rem 0 2rem;
    /* &&& */
    display: flex;
    flex-flow: column-reverse nowrap;
    gap: 1rem;
    /* &&& */
    transition: height 1s;
}

.toggle-btn{
    background:none;
    border: none;
    font-size: 3rem;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    /* &&& */
    height: 25vh;
    color: var(--background-5);
    display: none;
    visibility: hidden;
    opacity: 0;
    /* &&& */
    transition: opacity 0.5s;
}

.content .account-info {
    flex-shrink: 1;
    /* &&& */
    margin: 0 0 0 2rem;
    /* padding: 1rem; */
    /* border: 2px solid #e0e0e0; */
    border-radius: 10px;
    /* &&& */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.content .account-info img {
    height: 7.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.content .account-info p {
    text-align: center;
}

.content .account-info .info {
    flex-grow: 1;
    /* &&& */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

hr {
    margin: 0;
}

.content .controls {
    flex-grow: 1;
    /* &&& */
    margin: 0 2rem 0 0;
    /* padding: 2rem; */
    /* border: 2px solid #e0e0e0; */
    border-radius: 10px;
    /* &&& */
    display: grid;
    padding: 0;
}

.content .controls .ctrl-items {
    display: flex;
    flex-flow: row wrap;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: center;
    /* &&& */
    gap: 0.2rem;
}

.content .controls .ctrl-items li {
    flex-grow: 1;
    display: flex;
    background-color: var(--background-2);
    border-radius: 0.5rem;
}

.content .controls .ctrl-items li a {
    text-decoration: none;
    color: var(--background-1);
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 2.5vw;
    /* &&& */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
}

.content .controls .ctrl-items li a:hover {
    background-color: var(--background-5);
    color: var(--background-3);
}

.resize-side {
    height: 30vh;
}

.create-content {
    display: flex;
}

.visible-content {
    visibility: visible;
}

.show-content{
    opacity: 1;
}

.main-content {
    background-color: var(--background-5);
    /* width: 90%; */
    border-radius: 3rem;
    padding: 2rem;
    margin: 0 2rem 1rem 2rem;
    height: 100%;
    /* margin-bottom: 1rem; */
    /* &&& */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 3rem;
}

.title-pan {
    grid-column: 1/7;
    grid-row: 1/3;
    /* &&& */
    background-color: var(--background-4);
    border-radius: 3rem;
    /* padding: 1rem; */
    font-size: 5rem;
    font-weight: bold;
    color: var(--background-5);
    /* &&& */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.title-pan .welcome {
    font-size: 0.25em;
    /* &&& */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.chart-pan {
    grid-column: 1/7;
    grid-row: 3/5;
    /* &&& */
    background-color: var(--background-4);
    border-radius: 3rem;
    padding: 2rem;
    /* &&& */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.chart-pan h3 {
    font-size: 3rem;
    font-weight: bold;
}

.amar-pan {
    grid-column: 1/7;
    grid-row: 5/8;
    /* &&& */
    background-color: var(--background-2);
    text-decoration: none;
    border-radius: 3rem;
    padding: 2rem;
    /* &&& */
    display: grid;
}

.amar-pan ul {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
}

.amar-pan ul li {
    border-radius: 3rem;
    background-color: var(--background-5);
}

.amar-pan ul a {
    color: var(--background-4);
    text-decoration: none;
    width: 100%;
    font-size: 1.5rem;
    /* &&& */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.amar-pan ul a .material-icons {
    font-size: 4rem;
}

.recents-pan {
    grid-column: 1/7;
    grid-row: 8/13;
    /* &&& */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    /* &&& */
    border-radius: 3rem;
    background-color: var(--background-2);
    padding: 2rem;
}

.recents-pan h3 {
    text-align: center;
    padding: 0 0 2rem 0;
    font-size: 3rem;
    font-weight: bold;
}

.recents-pan ul {
    flex-grow: 1;
    /* &&& */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.recents-pan ul li {
    width: 80%;
    border-radius: 3rem;
    background-color: var(--background-5);
    padding: 1rem;
    font-size: 2rem;
    color: var(--background-4);
    /* &&& */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.recents-pan ul li img {
    height: 9rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}