:root {
    --color-accent: #1e4845;
    --color-accent-soft: #345c59;
    --color-accent-softer: #678381;
    --color-accent-text: #fff;
    --color-myOrange: #d26231;
    --color-myOrange-soft: #e47d50;
    --color-myYellow: #fd9937;
    --color-card: #555;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-myYellow);
}

.flex {
    padding: 1rem 0 1rem 1rem;
    /* ### */
    display: flex;
    position: relative;
    gap: 1rem;
    /* ### */
    transition: all 1s;
}

aside {
    height: 97vh;
    background-color: var(--color-accent);
    border-radius: 2rem 0 0 2rem;
    position: sticky;
    top: 1rem;
    width: 20rem;
    /* ### */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    /* ### */
    transition: width 0.5s ease-in-out;
}

aside::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 100%;
    top: 0;
    left: 100%;
}

.sidebar-links a.active,
.sidebar-links a:hover {
    color: #fff;
}

.sidebar-links a .link {
    transition: opacity 0.3s 0.2s, color 0.3s;
}

.tooltip {
    background-color: var(--color-accent-text);
    position: absolute;
    left: -10rem;
    top: 0;
    transform: translateX(100%) translateY(-50%);
    padding: 0 0.8rem;
    font-size: 0.85rem;
    display: none;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 30px;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    text-align: center;
    white-space: nowrap;
}

.tooltip span {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0;
    transition: 0.3s;
}

.tooltip span.show {
    opacity: 1;
}

.tooltip-element:hover~.tooltip {
    opacity: 1;
    pointer-events: all;
}

/* When the menu shrinks */

.hide {
    transition: opacity 0.3s 0.2s;
}

.js-grid.shrink aside {
    width: 5.4rem;
}

.js-grid.shrink .hide {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}

.js-grid.shrink .tooltip {
    display: grid;
}

/*  */
/*  */
/*  */

#asideTrigger {
    width: 90%;
    background-color: var(--color-accent-soft);
    color: var(--color-accent-text);
    border-radius: 2rem;
    font-size: 1.5rem;
    /*  */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#info-pro {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.8rem;
    color: var(--color-accent-text);
    font-size: 1.3rem;
}

#profile {
    display: inline-flex;
    clip-path: circle(50%);
}

#profile img {
    width: 10rem;
}

#cpanel {
    width: 90%;
    font-size: 2rem;
    /*  */
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

#cpanel a {
    text-decoration: none;
    color: var(--color-accent-text);
    /*  */
    display: flex;
    gap: 1rem;
    /*  */
    transition: all 0.1s
}

#cpanel a:hover {
    background-color: var(--color-myYellow);
    color: var(--color-accent);
    padding: 1rem;
    border-radius: 3rem;
}

/*  */

#titlePan {
    grid-area: titleA;
}

#chartPan {
    grid-area: chartA;
}

#amarPan {
    grid-area: amarA;
}

#recentPan {
    grid-area: recentA;
}

main {
    flex:1;
    background-color: var(--color-accent);
    /* grid-column: 2/7; */
    /* place-self: stretch; */
    /* height: 90vh; */
    border-radius: 2rem;
    padding: 3rem;
    /*  */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "titleA titleA chartA chartA chartA chartA"
        "amarA amarA amarA recentA recentA recentA"
        ". . . recentA recentA recentA";
    grid-gap: 3rem;
}

/*  */
#titlePan {
    color: var(--color-accent);
    background-color: var(--color-myYellow);
    border-radius: 3rem;
    /*  */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#titlePan #title1 {
    font-size: xx-large;
    font-weight: bold;
}

#titlePan #welcome {
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.5rem;
}

/*  */
#chartPan {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    /*  */
    background-color: var(--color-accent-text);
    border-radius: 3rem;
    padding: 2rem;
}

#chartPan #title2 {
    font-size: xx-large;
    font-weight: bold;
}

/*  */
/*  */
#amarPan {
    background-color: var(--color-myYellow);
    border-radius: 3rem;
    padding: 1rem;
}

#amarPan ul {
    height: 100%;
    /*  */
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

/* #amarPan li {
    border-radius: 3rem;
    background-color: var(--color-accent);
    mask-clip: content-box;
    /*  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
} */

#amarPan a {
    text-decoration: none;
    color: var(--color-accent-text);
    width: 100%;
    height: 100%;
    font-size: 2rem;
    background-color: var(--color-accent);
    border-radius: 3rem;
    /*  */
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

/*  */
/*  */
#recentPan {
    background-color: var(--color-myYellow);
    border-radius: 3rem;
    padding: 1rem;
    /*  */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    grid-gap: 2rem;
}

#recentPan #title3 {
    font-size: xx-large;
    font-weight: bold;
}

#recentPan ul {
    width: 95%;
    color: var(--color-accent-text);
    font-size: 2rem;
    /*  */
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

#recentPan li {
    background-color: var(--color-accent-soft);
    border-radius: 6rem;
    padding: 1rem;
    /*  */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

#recentPan img {
    width: 10rem;
    border-radius: 50%;
}